html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Adiciona isso para evitar rolagem horizontal */
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    background-color: #333; /* Cor de fundo do menu */
    padding: 10px 0; /* Espaçamento vertical */
    text-align: center; /* Centraliza o menu */
}

nav ul {
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    display: inline-block; /* Alinha a lista em linha */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.main .alinhamento li {
    text-align: left;
}

.main h3 {
    text-align: left;
}

p {
    text-align: justify;
}

h4 {
    text-align: left;
}

.about, .services, .contact {
    padding: 20px;
    margin: 20px 0;
}

header, nav, main {
    padding: 20px;
}

main {
    flex: 1; /* Este flex-grow faz com que o main ocupe o espaço disponível */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
    text-align: center;
}
